<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon site - Acceuil</title>
    <link rel="stylesheet" href="css/base.css">

</head>
<body>
    <background class="bgimg2"></background>
    <nav>
        <ul class="first">            
            <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
            <li><a id="nav_visio" href="/scanner">Scanner</a></li>
            <li><a id="nav_factory" href="/factory">Factory</a></li>
            <li><a id="nav_planning" href="/planning">Planning</a></li>
            <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
            <li><a id="nav_i_docteur" href="/profil-docteur">Mon profil</a></li>
            <li><a id="nav_co" href="/">Se déconnecter</a></li>
        </ul>
    </nav>   
      <div class="formation" id="hey1">
        <p>date - nom client - nom formation - thème</p>
    <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
    <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
    </div>  

    <div class ="formation" id="hey2">
        <p>date - nom client - nom formation - thème</p>
        <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
        <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
        </div>  

        <div class ="formation" id="hey3">
            <p>date - nom client - nom formation - thème</p>
            <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
            <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
            </div>

            <div class ="formation" id="hey4">
                <p>date - nom client - nom formation - thème</p>
                <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
                <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
                </div>

                <div class ="formation" id="hey5">
                    <p>date - nom client - nom formation - thème</p>
                    <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
                    <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
                    </div>

                    <div class ="formation" id="hey6">
                        <p>date - nom client - nom formation - thème</p>
                        <input type = "button" value="+" onclick="window.location.href='/formulaire-admin'">
                        <input type = "button" value="A" onclick="window.location.href='/admin-animation'">
                        </div>
</body></html>
