<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Factory</title>
        <link rel="stylesheet" href="css/base.css">
 
</head>
<body class="bgimg2">
  <nav>
      <ul class="first">            
          <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
          <li><a id="nav_visio" href="/scanner">Scanner</a></li>
          <li><a id="nav_factory" href="/factory">Factory</a></li>
          <li><a id="nav_planning" href="/planning">Planning</a></li>
          <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
          <li><a id="nav_i_docteur" href="/profil-docteur">Mon profil</a></li>
          <li><a id="nav_co" href="/">Se déconnecter</a></li>
      </ul>
  </nav>

<br>
      </div>
   <div style="padding:60px; display : flex; margin:30px; font-size: 25px; text-align : center;" class="wrapper">

 <div class="wrapper">
  <div class="box"> Quiz / Test </div>
  <div class="box"> PPT / Bureautique </div>
  <div class="box"> Multimédia </div>
  
</div>
         </div> <br>

     <div style="padding:60px; display : flex; margin:30px; font-size: 25px; text-align : center;" class="wrapper">

 <div class="wrapper">
  <div class="box"> Room </div>
  <div class="box"> Paperboard </div>
  <div class="box">Trois</div>
 </div>

  <div class="right">

  </div>
</body>
</html>