<!DOCTYPE html>
<html lang="fr">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon site - Acceuil</title>
        <link rel="stylesheet" href="css/base.css">
    </head>


    <body class="bgimg1">
        <nav>
            <ul class="first">            
                <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
                <li><a id="nav_visio" href="/room">Viso/Meeting</a></li>
                <li><a id="nav_factory" href="/factory">Factory</a></li>
                <li><a id="nav_planning" href="/planning">Planning</a></li>
                <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
                <li><a id="nav_i_admin" href="/profil-admin">Mon profil</a></li>
                <li><a id="nav_co" href="/">Se déconnecter</a></li>
            </ul>
        </nav>
    </body>

</html>