<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Concevoir/modifier une formation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/base.css">

</head>
<body class="bgimg2">
    <nav>
        <ul class="first">            
            <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
            <li><a id="nav_visio" href="/room">Viso/Meeting</a></li>
            <li><a id="nav_factory" href="/factory">Factory</a></li>
            <li><a id="nav_planning" href="/planning">Planning</a></li>
            <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
            <li><a id="nav_i_docteur" href="/profil-docteur">Mon profil</a></li>
            <li><a id="nav_co" href="/">Se déconnecter</a></li>
        </ul>
    </nav>



    <div style="padding:20px; margin-left : 140px; margin-top : 140px; margin-right: 140px;  border: 2px solid red; text-align : center; background-color : white;">    
        <p>Liste des formations enregistrées : </p>

        <div class="wrapper">
            <div class="box">Un</div>
            <div class="box">Deux</div>
            <div class="box">Trois</div>

        </div>
    </div>

    <div style="padding:20px; margin-left : 140px; margin-top : 140px; margin-right: 140px;  border: 2px solid red; text-align : center; background-color : white;">
        <p>Templates : </p>
        <div class="wrapper">
            <div class="box">Un</div>
            <div class="box">Deux</div>
            <div class="box">Trois</div>
        <button  class="box" id="icons-block" style='font-size:50px; text-align : center; ' type="submit" value="afficher" >  &#10010 </button>
            

        </div>
    </div>

</body>
</html>