<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon site - Acceuil</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body class="bgimg2">
    
    <nav>
        <ul class="first">            
            <li style="float:left"> <a id="nav_home" href="/connecter">Acceuil</a></li>
            <li><a id="nav_visio" href="/room">Viso/Meeting</a></li>
             <li><a id="nav_tutoriels" href="/tuto">Tutoriels</a></li>
            <li><a id="nav_i_formateur" href="/profil">Mon profil</a></li>
            <li><a id="nav_co" href="/">Se déconnecter</a></li>
        </ul>
    </nav>
</body>
</html>