<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire administratif</title>
    <link rel="stylesheet" href="css/base.css">

  </head>
  <body>
      <background class="bgimg2"></background>
      <nav>
          <ul class="first">            
              <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
              <li><a id="nav_visio" href="/room">Viso/Meeting</a></li>
              <li><a id="nav_factory" href="/factory">Factory</a></li>
              <li><a id="nav_planning" href="/planning">Planning</a></li>
              <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
              <li><a id="nav_i_formateur" href="/profil-formateur">Mon profil</a></li>
              <li><a id="nav_co" href="/">Se déconnecter</a></li>
          </ul>
      </nav>
    <div id = "formadmin">
        <div id = "f1" class="">
          <form action="/submit" method="POST" id="myForm">
            <h1>Info Client</h1>
                <div><label>Nom client* :</label><input type="text" ></div>
                <div><label>Rue :</label><input type="text"></div>
                <div><label>Ville :</label><input type="text"></div>
                <div><label>CP :</label><input type="number"></div>
                <div><label>Tél :</label><input type="tel"></div>
                <div><label>Siret :</label><input type="number" ></div>
                <div><label>TVA :</label><input type="number"></div>
                <div><label>Nom contact* :</label><input type="text" ></div>
                <div><label>Prénom :</label><input type="text" ></div>
                <div><label>Fonction :</label><input type="text"></div>
                <div><label>E-Mail* :</label><input type="email" ></div>
              </div>

                <div id = "f2" class="">
                    <h1>Info Formation</h1>
                      <div><label>Désignation*:</label><input type="text" ></div>
                      <div><label>Date début*:</label><input type="date" ></div>
                      <div><label>Date fin*:</label><input type="date" ></div>
                      <div><label>Durée:</label><input type="text" placeholder="en H - nb jour"></div>
                      <div><label>Horaires:</label><input type="text" placeholder="début - fin" ></div>
                      <div><label>Type:</label><input type="text" ></div>
                      <div><label>Objectif pédagogiques* :</label><input type="text" ></div>
                      <div><label>Présentiel / distanciel / blended* :</label><input type="text" ></div>
                      <div><label>Catégorie :</label><input type="text" ></div>
                      <div><label>Date envoi de l'invitation:</label><input type="date"></div>
                      <div><label>Date envoi rappel: </label><input type="date" ></div>
                      <div><label>Date envoi eval froid: </label><input type="date" ></div>
                </div>

                    <div id = "f3" class="">
                        <h1>Info Formateur</h1>
                            <div><label>Nom Formateur*:</label><input type="text" ></div>
                            <div><label>Prénom:</label><input type="text" ></div>
                            <div><label>Fonction:</label><input type="text" ></div>
                            <div><label>Tél:</label><input type="tel" ></div>
                            <div><label>E-Mail:</label><input type="email" ></div>
                    </div>

                        <div class="csv"><input type="file" id="upload-file" name="datafile"></input>
                            <input type="submit" value="Enregistrer"></input>
                        </div>                       
    </div>
</body>
</html>