<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Mon site - Connexion</title>
	<link rel="stylesheet" href="css/base.css">
</head>


<body>
	<background class="bgimg2"></background>
	<nav>
		<ul class="first">
			<li style="float:left"> <a id="nav_home" href="/">Acceuil</a></li>
			<li><a id ="nav_i" href="/register">Inscription</a></li>
			<li><a id ="nav_co" href="/log_in">Connexion</a></li>
		</ul>
	</nav>
	<div id="formconnexion">
		<form action="/log_in" method="post">
			<h1>SE CONNECTER</h1>
			<div class="container">
				<label for="mail"><strong>Identifiant</strong></label> <input name="Identifiant" placeholder="Entrer votre mail ou identifiant" required="" type="text"> <label for="psw"><strong>Mot de passe</strong></label> <input name="Psw" placeholder="Entrer votre mot de passe" required="" type="password">
			</div><input type="submit" value="SE CONNECTER">
			<div class="container">
				<label><input checked="checked" name="remember" type="checkbox"> Se souvenir de moi ?</label> <span class="psw"><a href="#">Mot de passe oublier?</a></span>
			</div>
		</form>
	</div>
</body>
</html>