<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body class="bgimg2">
    
  <nav>
    <ul class="first">            
      <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
      <li><a id="nav_visio" href="/scanner">Scanneur</a></li>
      <li><a id="nav_factory" href="/factory">Factory</a></li>
      <li><a id="nav_planning" href="/planning">Planning</a></li>
      <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
      <li><a id="nav_i_admin" href="/profil-admin">Mon profil</a></li>
      <li><a id="nav_co" href="/">Se déconnecter</a></li>
    </ul>
  </nav>
  <br>
  
     
  <section class="formation-contenu">
    <div class="wrapper">
      <form action="/scanner" method="post">
        <input name="scanURL" placeholder="URL" required="" type="text">
        <input type="submit"> 
      </form> 
    </div>
  </section>
  
</body>
</html>