<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Scanner</title>
        <link rel="stylesheet" href="css/base.css">
 
</head>
<body class="bgimg2">
    
  <nav>
    <ul class="first">            
      <li style="float:left"> <a id="nav_home" href="/home">Acceuil</a></li>
      <li><a id="nav_visio" href="/scanner">Scanneur</a></li>
      <li><a id="nav_factory" href="/factory">Factordy</a></li>
      <li><a id="nav_planning" href="/planning">Planning</a></li>
      <li><a id="nav_tutoriels" href="/animation">Tutoriels</a></li>
      <li><a id="nav_i_formateur" href="/profil-formateur">Mon profil</a></li>
      <li><a id="nav_co" href="/">Se déconnecter</a></li>
    </ul>
  </nav>
  <br>
  
     
  <section class="formation-contenu">
   
  
   
    <div class="wrapper">
    <button onClick="location.href='/responsable-gestion'" class="box"> Modifier son profil </button>
    <button onClick="location.href='/'" class="box"> Mon OF </button>
    <button onClick="location.href='/responsable-planning'" class="box"> Planning des Formations </button>    
    </div>
  </section>
  
</body>
</html>
</body>
</html>